<!--  <h1  class="title">Welcome To Factory Training Portal</h1>

<div class="container" >
    <div class="row " >


        <mat-accordion >
           
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="margin-bottom">                                                        
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Appraisal
                        </mat-panel-title>               
                    </mat-expansion-panel-header>                    
                    <div  class="expansionCards" *ngFor="let trainingCard of trainingCards">
                    <mat-card class="training-card col-sm-3" *ngFor="let Appraisal of trainingCard.Appraisal"> 
                        <img mat-card-image class="image" src="../../assets/images/videoplay.jpg" (click)="openVideoDialog(Appraisal)">
                        <h3>{{ Appraisal.title }}</h3> 
                        <p>{{Appraisal.description}}</p>                                                       
                    </mat-card>   
                    </div>  
                </mat-expansion-panel>
                  
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" class="margin-bottom">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                      Inventory
                    </mat-panel-title>               
                    </mat-expansion-panel-header>
                    <div class="expansionCards" *ngFor="let trainingCard of trainingCards">
                    <mat-card class="training-card col-sm-3" *ngFor="let Inventory of trainingCard.Inventory"> 
                        <img mat-card-image class="image" src="../../assets/images/videoplay.jpg" (click)="openVideoDialog(Inventory)">
                        <h3>{{ Inventory.title }}</h3>        
                        <p>{{Inventory.description}}</p>                                              
                    </mat-card>      
                    </div>  
                </mat-expansion-panel>
                        
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="margin-bottom">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                      Offers
                    </mat-panel-title>               
                    </mat-expansion-panel-header>
                    <div class="expansionCards" *ngFor="let trainingCard of trainingCards">
                    <mat-card class="training-card col-sm-3" *ngFor="let Offers of trainingCard.Offers"> 
                        <img mat-card-image class="image" src="../../assets/images/videoplay.jpg" (click)="openVideoDialog(Offers)">
                        <h3>{{ Offers.title }}</h3>     
                        <p>{{Offers.description}}</p>                                                
                    </mat-card>
                    </div>
                </mat-expansion-panel>
                  
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" class="margin-bottom">
                <mat-expansion-panel-header>
                <mat-panel-title>
                  shipment
                </mat-panel-title>               
                </mat-expansion-panel-header>
                <div  class="expansionCards" *ngFor="let trainingCard of trainingCards">            
                <mat-card class="training-card col-sm-3" *ngFor="let shipment of trainingCard.Shipment">        
                <img mat-card-image class="image" src="../../assets/images/videoplay.jpg" (click)="openVideoDialog(shipment)">                                                             
                    <h3>{{ shipment.title }}</h3>  
                    <p>{{shipment.description}}</p>
                </mat-card>     
                </div>
            </mat-expansion-panel>
          

                        
        </mat-accordion>
    </div>
</div>   -->




<div class="container" >
    <div class="row " >
        <h1  class="title"><b>Welcome To Factory Training Portal</b></h1>

                
                <div class="sideNavMenu col-sm-3 ">   
                    
                    <div (click)="appraisalVideos()" [ngClass]="{'appraisal':appraisal}"  style="cursor: pointer; padding:20px;" >Appraisal Training Videos </div>
                    <div (click)="inventoryVideos()" [ngClass]="{'appraisal':inventory}" style="cursor: pointer; padding:20px;" >Inventory Training Videos </div>
                    <div (click)="offersVideos()" [ngClass]="{'appraisal':offers}" style="cursor: pointer; padding:20px;" >Offers Training Videos </div>
                    <div (click)="shpmntVideos()" [ngClass]="{'appraisal':shpmnt}" style="cursor: pointer; padding:20px;">Shipment Training Videos </div>   
                    
                </div>
                                                                                                                           
                
          
                <div class="col-sm-9">

      
                <div *ngIf="appraisal">
                    <div  class="expansionCards" *ngFor="let trainingCard of trainingCards">
                        <mat-card class="training-card col-sm-3" *ngFor="let Appraisal of trainingCard.Appraisal"> 
                            <img mat-card-image class="image" src="../../assets/images/logoplay.jpg" (click)="openVideoDialog(Appraisal)">
                            <h3>{{ Appraisal.title }}</h3> 
                            <p>{{Appraisal.description}}</p>                                                       
                        </mat-card>   
                        </div> 
                </div>
                <div *ngIf="inventory">
                    <div class="expansionCards" *ngFor="let trainingCard of trainingCards">
                        <mat-card class="training-card col-sm-3" *ngFor="let Inventory of trainingCard.Inventory"> 
                            <img mat-card-image class="image" src="../../assets/images/logoplay.jpg" (click)="openVideoDialog(Inventory)">
                            <h3>{{ Inventory.title }}</h3>        
                            <p>{{Inventory.description}}</p>                                              
                        </mat-card>      
                        </div>  
                </div>
                <div *ngIf="offers">
                    <div class="expansionCards" *ngFor="let trainingCard of trainingCards">
                        <mat-card class="training-card col-sm-3" *ngFor="let Offers of trainingCard.Offers"> 
                            <img mat-card-image class="image" src="../../assets/images/logoplay.jpg" (click)="openVideoDialog(Offers)">
                            <h3>{{ Offers.title }}</h3>     
                            <p>{{Offers.description}}</p>                                                
                        </mat-card>
                        </div>  
                </div>
                <div *ngIf="shpmnt">
                    <div  class="expansionCards" *ngFor="let trainingCard of trainingCards">            
                        <mat-card class="training-card col-sm-3" *ngFor="let shipment of trainingCard.Shipment">        
                        <img mat-card-image class="image" src="../../assets/images/logoplay.jpg" (click)="openVideoDialog(shipment)">                                                             
                            <h3>{{ shipment.title }}</h3>  
                            <p>{{shipment.description}}</p>
                        </mat-card>     
                        </div>
                </div>
            </div>
           

          
       

    </div>
</div> 